<form #coursesForm="ngForm" class="border p-3 mb-3 mt-3">
  <div class="form-group m-3">
    <label for="courseName">Course Name</label
    ><input
      ngModel
      type="text"
      name="courseName"
      #courseName="ngModel"
      class="form-control"
    />
  </div>
  <div class="form-group m-3">
    <select
      ngModel
      class="form-select"
      name="categories"
      id="categories"
      #categories="ngModel"
    >
      <option value="" selected hidden>Please choose a category</option>
      <option *ngFor="let category of courseCategories" [value]="category.id">
        {{ category.name }}
      </option>
    </select>
  </div>
  <div class="form-group m-3 checkbox">
    <input ngModel name="moneyBack" #moneyBack="ngModel" type="checkbox" class="m-1" />30 days
    money-back guarantee
  </div>

  <div class="form-group m-3">
    <button class="btn btn-primary">Create</button>
  </div>

  {{ coursesForm.value | json }}
</form>
