<navbar></navbar>
<main class="container">
  <router-outlet></router-outlet>
  <!-- <github></github> -->
  <!-- <post></post> -->
  <!-- <signup-form></signup-form> -->
  <!-- <div>
    <h3>Courses Form</h3>
    <courses-form> </courses-form>
  </div>
  <div>
    <h3>Contact Form</h3>
    <contact-form> </contact-form>
  </div>
  <div>
    <h3>Zippy Task</h3>
    <zippy>
      <ng-container class="heading">Shipping details</ng-container>
      <ng-container class="body">Shipping details content</ng-container>
    </zippy>
    <zippy>
      <ng-container class="heading">Billing details</ng-container>
      <ng-container class="body">Billing details content</ng-container>
    </zippy>
  </div>
  <div>
    <h3>Like button task</h3>
    <like-button
      [likes-count]="tweet.likesCount"
      [is-liked]="tweet.isLiked"
      (like-clicked)="onLikeClicked()"
    >
    </like-button>
  </div>
  <div>
    <h3>Favorite task</h3>
    <favourite
      [is-favorite]="post.isFav"
      (change)="onFavoriteChanged($event)"
    ></favourite>
    <button class="btn btn-primary m-3">Test</button>
  </div>
  <div class="mt-5">
    <h3>Titlecase task</h3>
    <titlecase> </titlecase>
  </div>
  <h3>ngContent Task</h3>
  <app-bootstrap-panel>
    <ng-container class="heading">Welcome to Angular</ng-container>
    <ng-container class="body">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Cras justo odio</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Vestibulum at eros</li>
      </ul>
    </ng-container>
  </app-bootstrap-panel> -->
</main>
